<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Réinitialiser le mot de passe</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>La clé de réinitialisation du mot de passe est manquante.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Choisissez un nouveau mot de passe</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Votre mot de passe n'a pas pu être réinitialisé. N'oubliez pas qu'une demande de mot de passe n'est valide que pour 24 heures.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Votre mot de passe a été réinitialisé.</strong> Veuillez vous </span>
                <a class="alert-link" (click)="login()">connecter</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe et sa confirmation ne correspondent pas!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nouveau mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Nouveau mot de passe"
                               formControlName="newPassword">
                        <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.required">
                                Votre mot de passe est requis.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.minlength">
                                Votre mot de passe doit comporter au moins 4 caractères.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.maxlength">
                                Votre mot de passe ne peut pas dépasser 50 caractères.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Confirmer le nouveau mot de passe"
                               formControlName="confirmPassword">
                        <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.required">
                                La confirmation du mot de passe est requise.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                                La confirmation du mot de passe doit comporter au moins 4 caractères.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                                La confirmation du mot de passe ne peut pas dépasser 50 caractères..
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Réinitialiser le mot de passe</button>
                </form>
            </div>

        </div>
    </div>
</div>
