<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Mot de passe de [<strong>{{account.login}}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Mot de passe changé!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Une erreur est survenue!</strong> Le mot de passe n'a pas pu être changé.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe et sa confirmation ne correspondent pas!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Mot de passe actuel</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="Mot de passe actuel"
                           formControlName="currentPassword">
                    <div *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword').errors.required">
                            Votre mot de passe est requis.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="Nouveau mot de passe"
                           formControlName="newPassword">
                    <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.required">
                            Le mot de passe est requis.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.minlength">
                            Le mot de passe doit comporter au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.maxlength">
                            Le mot de passe ne peut pas dépasser 50 caractères.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirmez le nouveau mot de passe"
                           formControlName="confirmPassword">
                    <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.required">
                            Le mot de passe de confirmation est requis.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                            Le mot de passe de confirmation doit comporter au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                            Le mot de passe de confirmation ne peut pas dépasser 50 caractères.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Sauvegarder</button>
            </form>
        </div>
    </div>
</div>
