<div>
    <h2 id="page-heading">
        <span>Placed Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-placed-order" [routerLink]="['/placed-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Placed Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="placedOrders?.length === 0">
        <span>No placedOrders found</span>
    </div>
    <div class="table-responsive" *ngIf="placedOrders?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Order Id</span></th>
            <th><span>Status</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let placedOrder of placedOrders ;trackBy: trackId">
                <td><a [routerLink]="['/placed-order', placedOrder.id, 'view' ]">{{placedOrder.id}}</a></td>
                <td>{{placedOrder.date | date:'medium'}}</td>
                <td>{{placedOrder.orderId}}</td>
                <td>{{placedOrder.status}}</td>
                <td>
                    {{placedOrder.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/placed-order', placedOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/placed-order', placedOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/placed-order', { outlets: { popup: placedOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
