<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="placedOrder">
            <h2><span>Placed Order</span> {{placedOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{placedOrder.date}}</span>
                </dd>
                <dt><span>Order Id</span></dt>
                <dd>
                    <span>{{placedOrder.orderId}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{placedOrder.status}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{placedOrder.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/placed-order', placedOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
