<h1>Mon Profile</h1>
<table class="table">
    <tbody>
    <tr>
        <th>Pseudo</th>
        <td>{{user.login}}</td>
    </tr>
    <tr>
        <th>eMail</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>Date d'insricption</th>
        <td>{{date}}</td>
    </tr>
    </tbody>
</table>
<a type="button" class="btn btn-primary" href="createProduct">Créer un nouveau produit</a>
<a type="button" class="btn btn-secondary" href="orderList">Mes commandes</a>
<a type="button" class="btn btn-secondary" href="#">Changer de mot de passe</a>
