<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Activation</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Votre compte utilisateur a été activé</strong> Veuillez vous </span>
                <a class="alert-link" (click)="login()">connecter</a> s'il vous plait.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Votre compte utilisateur ne peut pas être activé.</strong> Veuillez utiliser le formulaire d'inscription.
            </div>

        </div>
    </div>
</div>
