<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Créer un compte</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Compte créé avec succès !</strong> Un mail de confirmation vous a été envoyé. S'il vous plait, vérifiez votre messagerie.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Il y a eu un problème avec la création du compte</strong> Essayez plus tard.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Le nom d'utilisateur existe déjà !</strong> Choisissez-en un autre.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Cet adresse mail est déjà utilisée</strong> Choisissez-en une autre.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe est différent de sa confirmation
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">

                    <label class="form-control-label" for="login">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Nom d'utilisateur"
                           formControlName="login">
                    <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required">
                            Votre nom d'utilisateur est requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.minlength"
                               >
                            Votre nom d'utilisateur doit contenir au moins 1 caractère.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.maxlength"
                               >
                            Votre nom d'utilisateur ne peut pas dépasser 50 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.pattern"
                              >
                            Votre nom d'utilisateur ne peut contenir que des lettres et des chiffres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Adresse mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Adresse mail"
                             formControlName="email">
                    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required"
                               >
                            Votre adresse mail est requise.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid"
                              >
                            Votre adresse mail est invalide.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength"
                              >
                            Votre adresse mail doit contenir au moins 5 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength"
                              >
                            Votre adresse mail ne peut pas dépasser 100 caractères.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe"
                            formControlName="password">
                    <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required"
                               >
                            Votre mot de passe est requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength"
                               >
                            Votre mot de passe doit contenir au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength"
                               >
                            Votre mot de passe ne doit pas dépasser 50 caractères.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmation du mot de passe"
                            formControlName="confirmPassword">
                    <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required"
                              >
                            La confirmation du mot de passe est requise.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength"
                             >
                            La confirmation du mot de passe doit contenir au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength"
                              >
                            La confirmation du mot de passe ne peut pas dépasser 50 caractères.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">S'enregistrer</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
