

        <h1 class="display-1 text-center" style="letter-spacing: 0.4em">Bymi</h1>
        <p class="lead text-center">Amazing stuff made by you</p>


        <p>
            Ici  <a routerLink="/basket">cliquez</a>
        </p>

        <jhi-list-display-product></jhi-list-display-product>

        <p>
            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
        </p>

